{% load subscriptions_tags %}
<footer class="py-5">
  <div class="container">
    <div class="row"> 
      <div class="col-2 footer-items">
        <h5>Меню</h5>
        <ul class="nav-footer flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link p-0 text-muted dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Жанры
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Боевик</a></li>                
            </ul>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О нас</a></li>
        </ul>
      </div>

      <div class="col-4 footer-items contacts">
        <h5>Контакты</h5>
        <ul class="nav-footer flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon phone"></span> 0771 67 67 51</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon whatsapp"></span>0771 67 67 51</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon instagram"></span>garkytbekova</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon facebook"></span>arkytbekova@mail.ru</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon telegram"></span>g_arkytbekova</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="social-icon linkedin"></span>Гулшат Аркытбекова</a></li>
        </ul>
      </div>

      <div class="col-5 footer-items email">
        {% subscriptions_form %}
      </div>
    </div>    
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p class="text-muted">© 2021 Company, Inc. All rights reserved.</p>
    </div>
  </div>  
</footer>
