html,
body {
    margin: 0;
    font-size: 100%;    
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Source Sans Pro', sans-serif;
}
/* ---HEADER---*/
.bg_yellow{
   background: #F7A805;
    padding: 10px 0;
}
.nav{
    padding-left: 200px;
}
.nav-link{
    color: teal;
    padding: 0 25px;
}
.logo-color{
    color: #E42520;
}
.btn-outline-light{
    color: teal;
    border-color: teal;
}
.btn:hover{

    background: none;
    color: #fff;
}
.btn{
    margin-left: 20px;
}
/* ---HEADER END---*/
/* ---MAIN SECTION---*/
.main-bg{
   background-image: url(../img/movie.jpg);
    background-size: cover;
    padding: 15px 0 50px;

}
.section{
    font-size: 14px;
    background: #fff;
    padding: 20px;
    width: 25%;    
}
.left-radius{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-radius{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.section-main{
    width: 50%;
    margin: 0 10px;
    border-radius: 0;
}
/* ---MAIN SECTION END---*/
.simple-title{
    font-size: 14px;
    color: teal;
    text-align: left;
    font-weight: lighter;
    padding: 5px;
    width: 100%;
}
.title {
    font-size: 16px;
    font-weight: bold;
    color: #E42520;
    text-align: center;
}
.left-item{
    padding-bottom: 10px;
    border-bottom: 1px solid #7588A6;
}
.left-item:last-child{
    border-bottom: none;
}
.main-btn{
    border-radius: 3px;
    background: #F6A704;
    text-transform: uppercase;
    color: teal;   
    border: 1px solid teal;
    padding: 7px 25px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.main-btn:hover{
    background: #ffc107;
}

footer{
    background: #fff;
}